<!DOCTYPE html>
<html>
  <head>
    <title>MongoCrud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="menu">
        <ul>
          <li><%= link_to "All polls", polls_path %>        </li>
          <li><%= link_to "New poll", new_poll_path %>        </li>
          <li><%= link_to "Logout", destroy_user_session_path %>        </li>
        </ul>
        </div>
        <% end %>
    <%= yield %>
  </body>
</html>
